@import url("https://use.typekit.net/ajq5bje.css");

:root {
  --clr-pri: #fafaf7;
  --clr-sec: #000;
  --clr-ter: #fad3e1;

  --ff-header: hero-new, sans-serif;
  --ff-heading: lexia-mono, serif;
  --ff-main: hero-new, sans-serif;

  /* Hero New Font-Sizes */
  --h-semibold: 600;
  --h-light: 300;
  --h-ultralight: 200;

  /* Lexia Mono Font-Sizes */
  --l-bold: 700;

  --grid-gap: 1px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-sec);
}

.container {
  background-color: var(--clr-pri);
  width: 100%;
}

h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--l-bold);
}

h1 {
  font-family: var(--ff-logo);
  font-weight: var(--h-semibold);
}

p {
  font-family: var(--ff-main);
  font-weight: var(--h-light);
  margin: 0;
}

h6 {
  font-family: var(--ff-main);
  font-weight: var(--h-light);
}

h4,
h5 {
  font-family: var(--ff-main);
  font-weight: var(--h-ultralight);
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*CONTACTPAGE*/

.contactmain {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.contactgrid {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.contactimg {
  order: -1;
}

.contactimg img {
  width: 100%;
}

.contactair {
  display: none;
}

@media screen and (min-width: 600px) {
  .contactmain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    gap: 1px;
  }

  .contactgrid {
    display: flex;
    flex-direction: row;
    gap: 1px;
  }

  .contactimg {
    order: 0;
    display: flex;
    align-items: center;
  }

  .contactair {
    display: block;
  }
}

/*COMISSION PAGE*/
.comissionmain {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.formerworkgrid {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.formerworksection {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

.formerworksection img {
  width: 100%;
}

.formerworksection .container:nth-child(2) {
  display: flex;
  align-items: center;
}

.comissionheroimg {
  display: flex;
  justify-content: center;
}

.comissionheroimg img {
  width: 100%;
}

.comissionnav,
.comissionsecondimage {
  display: none;
}

@media screen and (min-width: 600px) {
  .comissionheroimg img {
    width: 80%;
  }

  .comissionnav,
  .comissionsecondimage {
    display: block;
  }

  .comissionsecondimage img {
    width: 100%;
  }

  .comissionnav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }

  .comissionnav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: var(--ff-heading);
    color: var(--clr-sec);
    font-weight: var(--l-bold);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .comissionnav a:hover {
    background-color: #000;
    color: var(--clr-pri);
  }

  .comissionintrosection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1px;
  }

  .formerworksection {
    gap: 1px;
  }
}

/*OUR PROCESS PAGE*/
.ourprocessmain {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.processvideosection {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

.processvideosection .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.processvideosection img {
  max-width: 80%;
  padding-top: 1rem;
}

.processvideosection p {
  max-width: 60%;
}

.ourprocessnav {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
}

.ourprocessnav a:hover {
  background-color: #000;
  color: #fafaf7;
}

.ourprocessnav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: var(--ff-heading);
  color: var(--clr-sec);
  font-weight: var(--l-bold);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutussectionmobileimg img {
  width: 100%;
}
.aboutussection1 {
  display: grid;
  grid-template-rows: 1fr;
}

.aboutussection1img {
  display: none;
}

.resumebutton {
  display: none;
}

.resumebuttonmobile {
  background-color: var(--clr-sec);
  display: flex;
  justify-content: end;
}

.resumebuttonmobile a {
  color: var(--clr-pri);
  text-decoration: none;
  font-family: var(--ff-main);
  font-weight: var(--h-ultralight);
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.resumebuttonmobile a:hover {
  background-color: var(--clr-pri);
  color: #000;
}
.aboutussection2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.aboutussectiontwoimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutussectiontwoimg img {
  width: 100%;
}

.ourprocessessection1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.ourprocessessection1 img {
  width: 100%;
}

.ourprocessessection2 {
  display: grid;
  grid-template-rows: 1fr;
}

.ourprocessessectionimg {
  display: none;
}

.featuredworksection {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

.featuredworksection img {
  width: 100%;
}

.featuredworksection .container:nth-child(2) {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .processvideosection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: 1px;
  }

  .processvideosection img {
    max-width: 100%;
    padding-top: 0%;
  }

  .aboutussectionmobileimg {
    display: none;
  }

  .aboutussection1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: none;
    gap: 1px;
  }

  .aboutussection1img {
    display: block;
  }

  .aboutussection1img img {
    width: 100%;
  }

  .aboutussection2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: none;
    gap: 1px;
  }

  .aboutussectiontwoimg {
    order: 2;
  }

  .aboutussectiontwoimg img {
    width: 100%;
  }

  .resumebuttonmobile {
    display: none;
  }

  .resumebutton {
    background-color: var(--clr-sec);
    display: flex;
    justify-content: end;
  }

  .resumebutton a {
    color: var(--clr-pri);
    text-decoration: none;
    font-family: var(--ff-main);
    font-weight: var(--h-ultralight);
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .ourprocessessection1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: none;
    gap: 1px;
  }

  .ourprocessessection1 img {
    width: 100%;
  }

  .ourprocessessection2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: 1px;
  }

  .ourprocessessectionimg {
    display: block;
  }

  .ourprocessessectionimg img {
    width: 100%;
  }

  .featuredworksection {
    gap: 1px;
  }

  .featuredworksection img {
    width: 100%;
    grid-template-columns: 2fr 1.5fr;
  }

  .ourprocessnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 1px;
  }
}
/* product page- Caroline Mobil view  */

.productmain .otherviews {
  display: none;
}

.blackbackground {
  background-color: var(--clr-sec);
}

.productmain .moreproducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}

main.productmain {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.productmain img {
  width: 100%;
}

.productmain .productinfo {
  display: flex;
  flex-direction: column;
}

p,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem;
}

.productmain h2 {
  font-size: 10vw;
  text-transform: uppercase;
}

.productmain h2.morecollection {
  font-size: 6vw;
  text-align: center;
}

.productmain h6 {
  font-size: 1.5rem;
  text-align: right;
}

.productmain h6.price {
  font-weight: var(--h-semibold);
}

.productmain .basket {
  color: var(--clr-pri);
}

@media screen and (min-width: 500px) {
  main.productmain {
    background-color: red;
  }
  .productmain .otherviews {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 740px) {
  main.productmain {
    background-color: blue;
  }
}
