@import url("https://use.typekit.net/ajq5bje.css");

:root {
  --clr-pri: #fafaf7;
  --clr-sec: #000;
  --clr-ter: #fad3e1;

  --ff-header: hero-new, sans-serif;
  --ff-heading: lexia-mono, serif;
  --ff-main: hero-new, sans-serif;

  /* Hero New Font-Sizes */
  --h-semibold: 600;
  --h-light: 300;
  --h-ultralight: 200;

  /* Lexia Mono Font-Sizes */
  --l-bold: 700;

  --grid-gap: 1px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--clr-sec);
}

.container {
  background-color: var(--clr-pri);
}

h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--l-bold);
}

h1 {
  font-family: var(--ff-logo);
  font-weight: var(--h-semibold);
}

p {
  font-family: var(--ff-main);
  font-weight: var(--h-light);
}

h6 {
  font-family: var(--ff-main);
  font-weight: var(--h-light);
}

h4,
h5 {
  font-family: var(--ff-main);
  font-weight: var(--h-ultralight);
}

/* product page- Caroline Mobil view  */

h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem;
}
/* carousel mobile view */
.productmain .carousel {
  width: 100%;
  height: 80vh;
  position: relative;
}

.productmain .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.productmain .slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0;
}

.productmain .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.productmain .carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(250, 250, 247, 0.5);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.productmain button.prev {
  left: 1rem;
}

.productmain button.next {
  right: 1rem;
}

.productmain .deskviewimages {
  display: none;
}

.productmain .caresendpriceadd {
  gap: 1px;
  display: flex;
  flex-direction: column;
}

.blackbackground {
  background-color: var(--clr-sec);
}

.productmain .moreproducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}

main.productmain {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.productmain img {
  width: 100%;
}

.productmain .productinfo {
  display: flex;
  flex-direction: column;
}

.productmain h2 {
  font-size: 10vw;
  text-transform: uppercase;
}

.productmain h2.morecollection {
  font-size: 6vw;
  text-align: center;
}

.productmain h6 {
  font-size: 1.5rem;
  text-align: right;
}

.productmain h6.price {
  font-weight: var(--h-semibold);
}

.productmain .basket {
  color: var(--clr-pri);
}

@media screen and (min-width: 500px) {
  .productmain .deskviewimages {
    background-color: var(--clr-sec);
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .productmain .mainproduct {
    grid-row: 1/4;
    grid-column: 2;
  }

  .productmain .deskviewimages img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .productmain .mobileslide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  main.productmain {
    display: grid;
    grid-template-columns: 50% 1fr;
  }

  .productmain .deskviewimages {
    grid-column: 1 / 2;
    grid-row: 1/ 3;
  }

  .productmain .productinfo {
    grid-column: 3/-1;
  }

  .productmain .morefrom {
    grid-column: 1/-1;
  }

  .productmain .moreproducts {
    grid-column: 1/-1;
  }

  .productmain .morefrom h2 {
    font-size: 3vw;
    text-align: left;
  }

  .productmain h2 {
    font-size: 6vw;
  }
  .productmain .moreproducts {
    grid-template-columns: repeat(4, 1fr);
  }

  .productmain .moreproducts img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
